asgiref
autopep8
django==2.1.10
django-allauth
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
# Monitoring
psutil
pillow
# Data Science
requests
bs4
opencv-python
matplotlib
tensorflow
numpy==1.18.5
# Data Processing and modeling
pandas
keras