  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link text-center">
      <span class="brand-text font-weight-light">Unrivalry Publisher</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->

      <!-- SidebarSearch Form -->
      <div class="form-inline" hidden>
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboard" class="nav-link {% if active == "dashboard" %}active{% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dashboard/album" class="nav-link {% if active == "album" %}active{% endif %}">
              <i class="nav-icon fas fa-compact-disc"></i>
              <p>
                Album
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dashboard/music" class="nav-link {% if active == "music" %}active{% endif %}">
              <i class="nav-icon fas fa-music"></i>
              <p>
                Music
              </p>
            </a>
          </li>
          {% comment %} 
          <li class="nav-item">
            <a href="/dashboard/video" class="nav-link {% if active == "video" %}active{% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Video
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li> 
          {% endcomment %}
          <li class="nav-header">MISCELLANEOUS</li>
          <li class="nav-item">
            <a href="/dashboard/settings" class="nav-link {% if active == "settings" %}active{% endif %}">
              <i class="nav-icon fas fa-sliders-h"></i>
              <p>Settings</p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  